<div id="contact" class="scroll-section">
    <div class="hor-bar">
        <img src="assets/me.jpg" alt="">
        <form action="">
            <div class="hor">
                <input type="text" placeholder="name">
                <input type="email" placeholder="email">
            </div>
            <input type="text" placeholder="subject">
            <textarea name="message" id="" cols="30" rows="10"
                placeholder="message"
            ></textarea>
            <button>
                <fa-icon [icon]="faVoiceEmail" ></fa-icon>
            </button>
        </form>
    </div>
</div>
