<div id="landing" class="scroll-section">
    <h1 class="huge-title scroll-text">
        {{name}}
        <div class="scroll-cover"></div>
    </h1>
    <h3 class="other-fonted scroll-text">
        Web Developer
        <div class="scroll-cover"></div>
    </h3>
    <a 
        download
        href="assets/resume.pdf"
        class="circle-btn scroll-btn" style="cursor:pointer"
    >
        <fa-icon [icon]="faFileDownload" class="scroll-btn-icon"></fa-icon>
        <p>Resume</p>
    </a>
</div>