<app-header></app-header>
<div id="scroll-container">
    <app-landing-section></app-landing-section>
    <app-aboutme-section></app-aboutme-section>
    <app-expertise-section></app-expertise-section>
    <app-career-section></app-career-section>
    <app-achievements-section></app-achievements-section>
    <app-project-section></app-project-section>
    <app-testimonials-section></app-testimonials-section>
    <app-contact-section></app-contact-section>
    <app-copyrights></app-copyrights>
</div>