<app-header></app-header>
<div id="scroll-container">
    <app-landing-section></app-landing-section>
    <app-aboutme-section></app-aboutme-section>
    <app-expertise-section></app-expertise-section>
    <app-career-section></app-career-section>
    <app-achievements-section></app-achievements-section>
    <app-project-section></app-project-section>
    <app-testimonials-section></app-testimonials-section>
    <app-contact-section></app-contact-section>
    <app-copyrights></app-copyrights>
</div>

<div #projectshowcase id="project-showcase">
    <button (click)="unSelect()">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
    </button>
    <div class="images">
        <img src="assets/me.jpg" alt="">
        <img src="assets/me.jpg" class="current" alt="">
        <img src="assets/me.jpg" alt="">
    </div>
    <div class="content">
        <h1>{{selectedProject.name}}</h1>
        <div class="hor">
            <div class="skill">Javascript</div>
            <div class="skill">Javascript</div>
        </div>
        <p>
            A type racing application lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem
            ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
            ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
            ipsumlorem ipsumlorem ipsum
        </p>
        <div>
            <fa-icon [icon]="faGithub" ></fa-icon>
            <fa-icon [icon]="faLinkedinIn" ></fa-icon>
        </div>
    </div>
</div>
<div #projectshow id="project-showcase-animation">
</div>