<app-header></app-header>
<div id="scroll-container">
    <app-landing-section></app-landing-section>
    <app-aboutme-section></app-aboutme-section>
    <app-expertise-section></app-expertise-section>
    <app-career-section></app-career-section>
    <app-achievements-section *ngIf="false"></app-achievements-section>
    <app-project-section></app-project-section>
    <app-testimonials-section></app-testimonials-section>
    <app-contact-section></app-contact-section>
    <app-copyrights></app-copyrights>
</div>

<div #projectshowcase id="project-showcase">
    <button (click)="unSelect()">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
    </button>
    <div class="images">
        <img [src]="selectedProject.image" alt="">
        <img [src]="selectedProject.image" class="current" alt="">
        <img [src]="selectedProject.image" alt="">
    </div>
    <div class="content">
        <h1>{{selectedProject.name}}</h1>
        <div class="hor" *ngIf="selectedProject.skills">
            <div *ngFor="let skill of selectedProject.skills" class="skill">{{skill}}</div>
        </div>
        <p>
            {{selectedProject.description}}
        </p>
        <div>
            <a [href]="selectedProject.github" target="_blank">
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
        </div>
    </div>
</div>
<div #projectshow id="project-showcase-animation">
</div>