<div id="about" class="scroll-section">
    <img src="assets/me.jpg" alt="">
    <div class="content">
        <h1>I'm a Web Developer</h1>
        <p>Enthusiastic software engineering student eager to contribute to team success through diligence, attention to the slightest details and above average organizational skills. Clear understanding of modern technologies and frameworks. Motivated to learn, prosper and excel in the computer industry.</p>
        <div>
            <a href="https://github.com/dalideco" target="_blank">
                <fa-icon [icon]="faGithub" ></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/dalideco/" target="_blank">
                <fa-icon [icon]="faLinkedinIn" ></fa-icon>
            </a>
        </div>
    </div>
</div>
