#copyrights {
    position: absolute; bottom :100%; left: 0;
    width: 100%; height: 100vh;  
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding-top: 200px;   
}


p{
    font-size: 8vw; 
    margin-left: 50px;
}